
/*Beginning of styles that affect all pages*/

/*Navigation bar*/
nav{
    background-color:red;
};

.navbar-brand .navbar-text{
    color:black;
};

/*End of styles that affet all pages*/


/* Beginning of Card on about page */
#card-group{
    display: flex;
};

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
};

#invisible-card{
    border: none;
    
};

/* End of cards on about page */