
/*Beginning of styles that affect all pages*/

/*Navigation bar*/

.navbar-custom {
    background-color: #FEEB00;
};

body{
    background-color:#E1E2DB;
};


p{
    color:#000000;
};


/*End of styles that affect all pages*/

/* Home page graphs*/
#myMap{
 
    width:95%;
    height:800px;
};

#hour{
    width:95%;
    height:800px;
};
#heatmap{
    width: 95%;
};

#news{
    background-color: coral
};
/* Beginning of Card on about page */
#card-group{
    display: flex;
};

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
};

#invisible-card{
    border: none;
    
};

/* End of cards on about page */