<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- CSS FILE-->
        <link rel="stylesheet" href="../static/css/style.css">

        <title>Machine Learning</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/steal.png">
       
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        
        <a class="navbar-brand" href="#">
          <img src="../static/steal.png" width='50' height='50'><h3 class ="navbar-text" id="name"><strong>Crime in Washington, D.C.</strong></h3></a>
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}"><h5>Home</h5><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{{ url_for('machine') }}"><h5>Machine Learning</h5></a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}"><h5>About</h5></a>
            
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <h3 id="mtitle">Machine Learning</h3>
        
        </div>
        <!-- Selector row-->

        <div class="row" id="all-selectors">
          <div class="col-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date" id="ward">Enter a ward (1-8)</label>
                        <input class="form-control" id="ward-input" type="text" placeholder="1">
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a time</label>
                        <input class="form-control" id="time-input" type="text" placeholder="21:00">
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a year</label>
                        <input class="form-control" id="year-input" type="text" placeholder="2014">
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a month</label>
                        <input class="form-control" id="month-input" type="text" placeholder="01">
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a day</label>
                        <input class="form-control" id="day-input" type="text" placeholder="31">
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
        <!--End Selector Row-->

        <!--Start button Row-->
        <div class="row">
          <div class="col-4"></div>

          <div class="col-4">
            <button type="button" id="filter-btn" class="btn btn-primary">Submit</button>
          </div>

          <div class="col-4"></div>
          
        </div>
        <!--End button Row-->

        <!--Result-->
        <div class="row">
          <div class="col-12"><h4>Result</h4></div>
        </div>
        <div class="row">
          <div class="col-11" id="result1"></div>
          <div class="col-1"></div>
        </div>

        <!--End result div-->

        <!--Explanation div-->
        <div class="row">
          <div class="col-12"> <h4>Explanation</h4></div>
        </div>
        <div class="row">
          <div class="col-11" id="machine-explanation1"></div>
          <div class="col-1"></div>
        </div>
        <!--End of Explanation div-->
        <div class="row">
         
         
        </div>


        

      </div>
 
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    </body>
    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        Icons made by <a href="https://www.flaticon.com/authors/pongsakornred" title="pongsakornRed">pongsakornRed</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
          <br><br>
      </p>
  </footer>
  <!-- End of footer -->  
        
    
</html>