<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- CSS FILE-->
        <link rel="stylesheet" href="../static/css/style.css">

        <title>Machine Learning</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/steal.png">
       
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        
        <a class="navbar-brand" href="#">
          <img src="../static/steal.png" width='50' height='50'><h3 class ="navbar-text" id="name"><strong>Crime in Washington, D.C.</strong></h3></a>
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}"><h5>Home</h5><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{{ url_for('machine') }}"><h5>Machine Learning</h5></a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}"><h5>About</h5></a>
            
          </div>
        </div>
      </nav>

      <!-- this is an example -->


        <div class = 'container'>
          <div class='row'>
            <div class='col-md-2'>
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="date" id="ward">Enter a ward (1-8)</label>
                    <input class="form-control" id="ward-input" type="text" placeholder="1" name="ward">
                  </li>
                </ul>
              </div>
            </div>
            <div class='col-md-2'>
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="date">Enter a time</label>
                    <input class="form-control" id="time-input" type="text" placeholder="21:00" name="timeInp">
                  </li>
                </ul>
              </div>
            </div>
            <div class='col-md-2'>
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="date">Enter a year</label>
                    <input class="form-control" id="year-input" type="text" placeholder="2014" name="year">
                  </li>
                </ul>
              </div>
            </div>
            <div class='col-md-2'>
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="date">Enter a month</label>
                    <input class="form-control" id="month-input" type="text" placeholder="01" name="month">
                  </li>
                </ul>
              </div>
            </div>
            <div class='col-md-2'>
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="date">Enter a day</label>
                    <input class="form-control" id="day-input" type="text" placeholder="31" name="day">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--Start button Row-->
        <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
        <button type="button" id="prediction-btn" class="btn btn-primary">Submit</button>
       </div>

       <div class="col-4"></div>
  
</div>
      <!-- end of example -->


      
        <!--End Selector Row-->

       
        <!--End button Row-->

        <!--Result-->
        <div class="row">
          <div class="col-12"><h4>Result</h4></div>
        </div>
        <div class="row">
          <div class="col-11" id="result1"></div>
          <div class="col-1"></div>
        </div>

        <!--End result div-->

        <!--Explanation div-->
        <div class="row">
          <div class="col-12"> <h4>Explanation</h4></div>
        </div>
        <div class="row">
          <div class="col-11" id="machine-explanation1"><p>Amongst all of the machine learning algorithms that the dataset was tested with, k-nearest neighbors (KNN) provided the highest prediction accuracy. It is crucial to note that a skew in the training data had a large impact on the testing accuracy. This is due to the fact that the count of certain offense types were exponentially higher than others, making it difficult to have representation across classes. While it is possible to reduce the skews in the data by reclassifying, this can only happen if doing so doesn't change the goal of the prediction. 
            While machine learning has become a vital part of crime detection as well as crime prevention, a question arises about the fairness of its use. Historical crime data reveals higher offense rates in minority dominant neighborhoods. Many crime prediction algorithms utilize three main factors; type of crime, location, and the time of the event. As a result, police patrol routes are focused in the neighborhoods with historically high crime rates. So, we must ask ourselves, should we continue to use this method for predicting crime? </p></div>
          
          <div class="col-1"></div>
        </div>
        <!--End of Explanation div-->
        <div class="row">
         
         
        </div>


        

      </div>
 
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

        <!-- D3 -->
        

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>



        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    </body>
    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        Icons made by <a href="https://www.flaticon.com/authors/pongsakornred" title="pongsakornRed">pongsakornRed</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
          <br><br>
      </p>
  </footer>
  <!-- End of footer -->  
        
  <script>

    prediction_btn = d3.select('#prediction-btn');
    prediction_btn.on("click", function(b){
      ward = d3.select("#ward-input").node().value;
      time = d3.select("#time-input").node().value;
      year = d3.select("#year-input").node().value;
      month = d3.select("#month-input").node().value;
      day = d3.select("#day-input").node().value;

      var url = `/ml?ward=${ward}&time=${time}&year=${year}&month=${month}&day=${day}`;
      console.log(url);

      d3.json(url).then(function(response){

        crimeType = response['CrimeType'];
        console.log(`you got back: ${crimeType}`);
        d3.select('#result1').html(crimeType);

      });

    });

  </script>
    
</html>